


.winning-combo {
-fx-background-color:linear-gradient(#AA8888, #CCAAAA);
-fx-text-fill: red;

}

#threebythree{
	-fx-background-color:brown;
}
#pane1{
	-fx-background-color:linear-gradient(#686868 0%, #232723 25%, #373837 75%, #757575 100%),
        linear-gradient(#020b02, #3a3a3a),
        linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
        linear-gradient(#f5f5f5 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
}
#pane2{
	-fx-background-color:gray;
}
#cb{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0,6),5,0.0,0,1);
}